.page h1{
    font-size: 3rem;
    font-style: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.page h2{
    font-size: 3rem;
    font-style: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

